<section>
    <div class="row">
        <div class="container">
            <div class="col-md-12">
                <h1 class="text-center text-success">Order Successfull !</h1>
                <a href="/orders" class="btn btn-primary text-center">View Orders</a>
            </div>
        </div>
    </div>
</section>